<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Text_blur_s_0000_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,993},{29,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,74}}</string>
                <key>sourceSize</key>
                <string>{29,74}</string>
            </dict>
            <key>Text_blur_s_0000_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,925},{9,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,80}}</string>
                <key>sourceSize</key>
                <string>{9,80}</string>
            </dict>
            <key>Text_blur_s_0001_i.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,8},{12,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,71}}</string>
                <key>sourceSize</key>
                <string>{12,71}</string>
            </dict>
            <key>Text_blur_s_0001_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,206},{21,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,54}}</string>
                <key>sourceSize</key>
                <string>{21,54}</string>
            </dict>
            <key>Text_blur_s_0002_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,934},{28,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,73}}</string>
                <key>sourceSize</key>
                <string>{28,73}</string>
            </dict>
            <key>Text_blur_s_0002_W.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,159},{50,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,74}}</string>
                <key>sourceSize</key>
                <string>{50,74}</string>
            </dict>
            <key>Text_blur_s_0003_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,993},{27,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,55}}</string>
                <key>sourceSize</key>
                <string>{27,55}</string>
            </dict>
            <key>Text_blur_s_0004_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,963},{26,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,80}}</string>
                <key>sourceSize</key>
                <string>{26,80}</string>
            </dict>
            <key>Text_blur_s_0005_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,964},{27,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,72}}</string>
                <key>sourceSize</key>
                <string>{27,72}</string>
            </dict>
            <key>Text_blur_s_0006_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,964},{27,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,55}}</string>
                <key>sourceSize</key>
                <string>{27,55}</string>
            </dict>
            <key>Text_blur_s_0007_T.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,993},{29,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,74}}</string>
                <key>sourceSize</key>
                <string>{29,74}</string>
            </dict>
            <key>Text_blur_s_0008_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,331},{17,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,65}}</string>
                <key>sourceSize</key>
                <string>{17,65}</string>
            </dict>
            <key>Text_blur_s_0009_apos.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,925},{14,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,35}}</string>
                <key>sourceSize</key>
                <string>{14,35}</string>
            </dict>
            <key>Text_blur_s_0010_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,178},{26,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,54}}</string>
                <key>sourceSize</key>
                <string>{26,54}</string>
            </dict>
            <key>Text_blur_s_0011_o.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,934},{28,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,55}}</string>
                <key>sourceSize</key>
                <string>{28,55}</string>
            </dict>
            <key>Text_blur_s_0012_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,991},{31,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,74}}</string>
                <key>sourceSize</key>
                <string>{31,74}</string>
            </dict>
            <key>Text_sharp_s_0000_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,239},{9,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,70}}</string>
                <key>sourceSize</key>
                <string>{9,70}</string>
            </dict>
            <key>Text_sharp_s_0001_i.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,8},{12,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,61}}</string>
                <key>sourceSize</key>
                <string>{12,61}</string>
            </dict>
            <key>Text_sharp_s_0002_W.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,925},{50,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,64}}</string>
                <key>sourceSize</key>
                <string>{50,64}</string>
            </dict>
            <key>Text_sharp_s_0003_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,993},{29,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,64}}</string>
                <key>sourceSize</key>
                <string>{29,64}</string>
            </dict>
            <key>Text_sharp_s_0003_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,934},{27,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,45}}</string>
                <key>sourceSize</key>
                <string>{27,45}</string>
            </dict>
            <key>Text_sharp_s_0004_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,211},{26,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,70}}</string>
                <key>sourceSize</key>
                <string>{26,70}</string>
            </dict>
            <key>Text_sharp_s_0004_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,331},{21,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,44}}</string>
                <key>sourceSize</key>
                <string>{21,44}</string>
            </dict>
            <key>Text_sharp_s_0005_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,964},{27,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,62}}</string>
                <key>sourceSize</key>
                <string>{27,62}</string>
            </dict>
            <key>Text_sharp_s_0006_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,964},{27,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,45}}</string>
                <key>sourceSize</key>
                <string>{27,45}</string>
            </dict>
            <key>Text_sharp_s_0007_T.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,993},{29,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,64}}</string>
                <key>sourceSize</key>
                <string>{29,64}</string>
            </dict>
            <key>Text_sharp_s_0008_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,159},{17,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,55}}</string>
                <key>sourceSize</key>
                <string>{17,55}</string>
            </dict>
            <key>Text_sharp_s_0009_apos.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,229},{14,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,25}}</string>
                <key>sourceSize</key>
                <string>{14,25}</string>
            </dict>
            <key>Text_sharp_s_0010_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,331},{26,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,44}}</string>
                <key>sourceSize</key>
                <string>{26,44}</string>
            </dict>
            <key>Text_sharp_s_0011_o.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,993},{28,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,45}}</string>
                <key>sourceSize</key>
                <string>{28,45}</string>
            </dict>
            <key>Text_sharp_s_0012_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,991},{31,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,64}}</string>
                <key>sourceSize</key>
                <string>{31,64}</string>
            </dict>
            <key>Text_sharp_s_0033_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,934},{28,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,63}}</string>
                <key>sourceSize</key>
                <string>{28,63}</string>
            </dict>
            <key>opening_ani_text1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,581},{351,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,238}}</string>
                <key>sourceSize</key>
                <string>{351,238}</string>
            </dict>
            <key>opening_ani_text2.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,580},{192,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,343}}</string>
                <key>sourceSize</key>
                <string>{192,343}</string>
            </dict>
            <key>opening_ani_text3.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,139},{515,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{515,190}}</string>
                <key>sourceSize</key>
                <string>{515,190}</string>
            </dict>
            <key>opening_bai1_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,250},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>opening_bday_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,2},{516,135}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,135}}</string>
                <key>sourceSize</key>
                <string>{518,137}</string>
            </dict>
            <key>opening_blackblock.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,581},{3,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,381}}</string>
                <key>sourceSize</key>
                <string>{3,381}</string>
            </dict>
            <key>opening_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,382},{196,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{196,196}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>opening_curve_ribbon.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,925},{91,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,50}}</string>
                <key>sourceSize</key>
                <string>{91,50}</string>
            </dict>
            <key>opening_hexagon.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,925},{32,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,37}}</string>
                <key>sourceSize</key>
                <string>{32,37}</string>
            </dict>
            <key>opening_invert_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,331},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>opening_line_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{77,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,4}}</string>
                <key>sourceSize</key>
                <string>{77,4}</string>
            </dict>
            <key>opening_mask_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,943},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>opening_mask_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,925},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>opening_note1.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,331},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>opening_note2.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,229},{17,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,33}}</string>
                <key>sourceSize</key>
                <string>{17,33}</string>
            </dict>
            <key>opening_one.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,581},{171,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,410}}</string>
                <key>sourceSize</key>
                <string>{171,410}</string>
            </dict>
            <key>opening_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,377},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>opening_spotlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{355,577}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,577}}</string>
                <key>sourceSize</key>
                <string>{355,577}</string>
            </dict>
            <key>opening_tiles2_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,22},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>opening_tri.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,993},{26,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,29}}</string>
                <key>sourceSize</key>
                <string>{26,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Plist_openning.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5af73636bbde93cc40552605cbf6ad97:1/1$</string>
            <key>textureFileName</key>
            <string>Plist_openning.png</string>
        </dict>
    </dict>
</plist>
