<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_tab_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{640,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,104}}</string>
                <key>sourceSize</key>
                <string>{640,104}</string>
            </dict>
            <key>hall_1_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,806},{80,80}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,14},{80,80}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>hall_2_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,888},{80,80}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,14},{80,80}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>hall_3_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,628},{98,92}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{98,92}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>hall_4_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,622},{122,100}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{122,100}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>hall_5_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,418},{150,104}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{150,104}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>hall_6_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,210},{156,104}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{156,104}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>hall_7_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{156,104}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{156,104}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>home_1_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,894},{82,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,17},{82,80}}</string>
                <key>sourceSize</key>
                <string>{168,118}</string>
            </dict>
            <key>home_2_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,810},{82,82}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,15},{82,82}}</string>
                <key>sourceSize</key>
                <string>{168,118}</string>
            </dict>
            <key>home_3_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,628},{98,96}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,9},{98,96}}</string>
                <key>sourceSize</key>
                <string>{168,118}</string>
            </dict>
            <key>home_4_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,524},{122,102}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,15},{122,102}}</string>
                <key>sourceSize</key>
                <string>{168,118}</string>
            </dict>
            <key>home_5_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,316},{152,102}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{152,102}}</string>
                <key>sourceSize</key>
                <string>{168,118}</string>
            </dict>
            <key>home_6_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{168,102}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{168,102}}</string>
                <key>sourceSize</key>
                <string>{168,118}</string>
            </dict>
            <key>home_7_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,102}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{168,102}}</string>
                <key>sourceSize</key>
                <string>{168,118}</string>
            </dict>
            <key>music_1_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,894},{82,80}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,14},{82,80}}</string>
                <key>sourceSize</key>
                <string>{162,118}</string>
            </dict>
            <key>music_2_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,726},{82,82}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,12},{82,82}}</string>
                <key>sourceSize</key>
                <string>{162,118}</string>
            </dict>
            <key>music_3_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,520},{100,96}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,6},{100,96}}</string>
                <key>sourceSize</key>
                <string>{162,118}</string>
            </dict>
            <key>music_4_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,524},{124,102}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{124,102}}</string>
                <key>sourceSize</key>
                <string>{162,118}</string>
            </dict>
            <key>music_5_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,312},{152,104}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{152,104}}</string>
                <key>sourceSize</key>
                <string>{162,118}</string>
            </dict>
            <key>music_6_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{162,104}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{162,104}}</string>
                <key>sourceSize</key>
                <string>{162,118}</string>
            </dict>
            <key>music_7_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{162,104}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{162,104}}</string>
                <key>sourceSize</key>
                <string>{162,118}</string>
            </dict>
            <key>setting_1_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,806},{80,80}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,18},{80,80}}</string>
                <key>sourceSize</key>
                <string>{158,118}</string>
            </dict>
            <key>setting_2_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,722},{82,82}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,16},{82,82}}</string>
                <key>sourceSize</key>
                <string>{158,118}</string>
            </dict>
            <key>setting_3_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,418},{100,96}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,11},{100,96}}</string>
                <key>sourceSize</key>
                <string>{158,118}</string>
            </dict>
            <key>setting_4_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,420},{128,102}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{128,102}}</string>
                <key>sourceSize</key>
                <string>{158,118}</string>
            </dict>
            <key>setting_5_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,210},{156,100}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{156,100}}</string>
                <key>sourceSize</key>
                <string>{158,118}</string>
            </dict>
            <key>setting_6_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,108},{158,100}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{158,100}}</string>
                <key>sourceSize</key>
                <string>{158,118}</string>
            </dict>
            <key>setting_7_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,106},{158,102}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{158,102}}</string>
                <key>sourceSize</key>
                <string>{158,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Plist_bottomtab_xmas.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8a9b78cd8132f15d058a99754342070:1/1$</string>
            <key>textureFileName</key>
            <string>Plist_bottomtab_xmas.png</string>
        </dict>
    </dict>
</plist>
