<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_best_skin.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,97},{182,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,68}}</string>
                <key>sourceSize</key>
                <string>{182,68}</string>
            </dict>
            <key>icon_crown_shadow_card_xmas.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,605},{88,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,80}}</string>
                <key>sourceSize</key>
                <string>{88,80}</string>
            </dict>
            <key>icon_crown_shadow_xmas.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,167},{163,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,150}}</string>
                <key>sourceSize</key>
                <string>{163,150}</string>
            </dict>
            <key>icon_nostar_xmas.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,513},{90,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,112}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>icon_share_result.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,961},{58,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,64}}</string>
                <key>sourceSize</key>
                <string>{58,64}</string>
            </dict>
            <key>icon_time_hl.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,961},{51,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,54}}</string>
                <key>sourceSize</key>
                <string>{51,54}</string>
            </dict>
            <key>jump_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,896},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mask_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,185},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>mask_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,167},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>r_icon_star_inactive_xmas.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,319},{156,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,192}}</string>
                <key>sourceSize</key>
                <string>{156,192}</string>
            </dict>
            <key>share_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,835},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>xmas_button_homepage.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{324,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,109}}</string>
                <key>sourceSize</key>
                <string>{324,109}</string>
            </dict>
            <key>xmas_button_homepage_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{324,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,109}}</string>
                <key>sourceSize</key>
                <string>{324,109}</string>
            </dict>
            <key>xmas_cdcover1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,319},{640,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,248}}</string>
                <key>sourceSize</key>
                <string>{640,248}</string>
            </dict>
            <key>xmas_icon_enter.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,687},{80,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,88}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>xmas_map_result_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,605},{289,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,70}}</string>
                <key>sourceSize</key>
                <string>{289,70}</string>
            </dict>
            <key>xmas_result_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,319},{640,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,94}}</string>
                <key>sourceSize</key>
                <string>{640,94}</string>
            </dict>
            <key>xmas_result_chest.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,961},{60,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,63}}</string>
                <key>sourceSize</key>
                <string>{60,63}</string>
            </dict>
            <key>xmas_result_share_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,961},{26,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,29}}</string>
                <key>sourceSize</key>
                <string>{26,29}</string>
            </dict>
            <key>xmas_result_snowman.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{507,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{507,93}}</string>
                <key>sourceSize</key>
                <string>{507,93}</string>
            </dict>
            <key>xmas_ring.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,769},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Plist_xmas.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d37fec99c39e94d1db0cbbf16bc004c:1/1$</string>
            <key>textureFileName</key>
            <string>Plist_xmas.png</string>
        </dict>
    </dict>
</plist>
