<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xmas_map_banner_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,47},{191,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,58}}</string>
                <key>sourceSize</key>
                <string>{191,58}</string>
            </dict>
            <key>xmas_map_banner_green_comp.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{191,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,58}}</string>
                <key>sourceSize</key>
                <string>{191,58}</string>
            </dict>
            <key>xmas_map_banner_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,365},{138,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,54}}</string>
                <key>sourceSize</key>
                <string>{138,54}</string>
            </dict>
            <key>xmas_map_banner_red_comp.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,330},{138,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,54}}</string>
                <key>sourceSize</key>
                <string>{138,54}</string>
            </dict>
            <key>xmas_map_box1.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,470},{123,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,128}}</string>
                <key>sourceSize</key>
                <string>{123,128}</string>
            </dict>
            <key>xmas_map_box1_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,286},{42,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,60}}</string>
                <key>sourceSize</key>
                <string>{42,60}</string>
            </dict>
            <key>xmas_map_box1_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,397},{147,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,116}}</string>
                <key>sourceSize</key>
                <string>{147,116}</string>
            </dict>
            <key>xmas_map_box2.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,152},{124,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,128}}</string>
                <key>sourceSize</key>
                <string>{124,128}</string>
            </dict>
            <key>xmas_map_box2_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,2},{43,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,59}}</string>
                <key>sourceSize</key>
                <string>{43,59}</string>
            </dict>
            <key>xmas_map_box2_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,470},{149,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,116}}</string>
                <key>sourceSize</key>
                <string>{149,116}</string>
            </dict>
            <key>xmas_map_box3.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,470},{124,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,127}}</string>
                <key>sourceSize</key>
                <string>{124,127}</string>
            </dict>
            <key>xmas_map_box3_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,240},{44,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{44,60}</string>
            </dict>
            <key>xmas_map_box3_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,365},{148,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,116}}</string>
                <key>sourceSize</key>
                <string>{148,116}</string>
            </dict>
            <key>xmas_map_box4.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,251},{144,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,149}}</string>
                <key>sourceSize</key>
                <string>{144,149}</string>
            </dict>
            <key>xmas_map_box4_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,205},{55,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,65}}</string>
                <key>sourceSize</key>
                <string>{55,65}</string>
            </dict>
            <key>xmas_map_box4_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,227},{179,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,136}}</string>
                <key>sourceSize</key>
                <string>{179,136}</string>
            </dict>
            <key>xmas_map_box5.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,62},{187,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,163}}</string>
                <key>sourceSize</key>
                <string>{187,163}</string>
            </dict>
            <key>xmas_map_box5_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,152},{51,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,71}}</string>
                <key>sourceSize</key>
                <string>{51,71}</string>
            </dict>
            <key>xmas_map_box5_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{204,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,148}}</string>
                <key>sourceSize</key>
                <string>{204,148}</string>
            </dict>
            <key>xmas_map_box_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,938},{143,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,73}}</string>
                <key>sourceSize</key>
                <string>{143,73}</string>
            </dict>
            <key>xmas_map_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,938},{170,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,75}}</string>
                <key>sourceSize</key>
                <string>{170,75}</string>
            </dict>
            <key>xmas_map_icon_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,421},{42,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,43}}</string>
                <key>sourceSize</key>
                <string>{42,43}</string>
            </dict>
            <key>xmas_map_icon_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,421},{42,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,43}}</string>
                <key>sourceSize</key>
                <string>{42,43}</string>
            </dict>
            <key>xmas_map_path.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,591}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,591}}</string>
                <key>sourceSize</key>
                <string>{258,591}</string>
            </dict>
            <key>xmas_map_santa.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,595},{319,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,193}}</string>
                <key>sourceSize</key>
                <string>{319,193}</string>
            </dict>
            <key>xmas_map_santa_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,595},{341,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,196}}</string>
                <key>sourceSize</key>
                <string>{341,196}</string>
            </dict>
            <key>xmas_map_santa_bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,916},{182,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,86}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>xmas_map_select_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,278},{161,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,161}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>xmas_sock.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,2},{247,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,265}}</string>
                <key>sourceSize</key>
                <string>{247,265}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Plist_xmas_map.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:387a9d41d6ff6d7998e15ac8c101dc9c:1/1$</string>
            <key>textureFileName</key>
            <string>Plist_xmas_map.png</string>
        </dict>
    </dict>
</plist>
