<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,516},{134,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,240}}</string>
                <key>sourceSize</key>
                <string>{134,240}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,410},{134,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,240}}</string>
                <key>sourceSize</key>
                <string>{134,240}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,414},{134,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,240}}</string>
                <key>sourceSize</key>
                <string>{134,240}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,410},{134,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,240}}</string>
                <key>sourceSize</key>
                <string>{134,240}</string>
            </dict>
            <key>black.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,274},{134,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,240}}</string>
                <key>sourceSize</key>
                <string>{134,240}</string>
            </dict>
            <key>bonus_tile_life.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,274},{134,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,240}}</string>
                <key>sourceSize</key>
                <string>{134,240}</string>
            </dict>
            <key>bonus_tile_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,278},{134,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,240}}</string>
                <key>sourceSize</key>
                <string>{134,240}</string>
            </dict>
            <key>bonus_tile_music2.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,274},{134,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,240}}</string>
                <key>sourceSize</key>
                <string>{134,240}</string>
            </dict>
            <key>chest_birthday.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,138},{134,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,240}}</string>
                <key>sourceSize</key>
                <string>{134,240}</string>
            </dict>
            <key>chest_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,142},{134,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,240}}</string>
                <key>sourceSize</key>
                <string>{134,240}</string>
            </dict>
            <key>dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,32},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>egg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,138},{134,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,240}}</string>
                <key>sourceSize</key>
                <string>{134,240}</string>
            </dict>
            <key>long_finish.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,474}}</string>
                <key>sourceSize</key>
                <string>{134,474}</string>
            </dict>
            <key>long_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{134,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,324}}</string>
                <key>sourceSize</key>
                <string>{134,324}</string>
            </dict>
            <key>long_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{134,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,218}}</string>
                <key>sourceSize</key>
                <string>{134,218}</string>
            </dict>
            <key>long_tilelight.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,758},{134,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,238}}</string>
                <key>sourceSize</key>
                <string>{134,238}</string>
            </dict>
            <key>slide_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,2},{134,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,32}}</string>
                <key>sourceSize</key>
                <string>{134,32}</string>
            </dict>
            <key>slide_tile_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{2,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,324}}</string>
                <key>sourceSize</key>
                <string>{2,324}</string>
            </dict>
            <key>slide_tile_dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,64},{14,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,12}}</string>
                <key>sourceSize</key>
                <string>{14,12}</string>
            </dict>
            <key>slide_tile_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,32},{4,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,240}}</string>
                <key>sourceSize</key>
                <string>{4,240}</string>
            </dict>
            <key>slide_tile_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,2},{39,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,28}}</string>
                <key>sourceSize</key>
                <string>{39,28}</string>
            </dict>
            <key>slide_tilelight.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,758},{134,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,238}}</string>
                <key>sourceSize</key>
                <string>{134,238}</string>
            </dict>
            <key>slide_tri_blast.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,138},{113,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,94}}</string>
                <key>sourceSize</key>
                <string>{113,94}</string>
            </dict>
            <key>tile_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,6},{134,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,240}}</string>
                <key>sourceSize</key>
                <string>{134,240}</string>
            </dict>
            <key>tile_miss.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{134,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,240}}</string>
                <key>sourceSize</key>
                <string>{134,240}</string>
            </dict>
            <key>tile_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{134,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,240}}</string>
                <key>sourceSize</key>
                <string>{134,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a09ad620c6e320971a7a5dd83a595fc0:1/1$</string>
            <key>textureFileName</key>
            <string>1.png</string>
        </dict>
    </dict>
</plist>
