<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_btn_n_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,918},{65,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,59}}</string>
                <key>sourceSize</key>
                <string>{65,59}</string>
            </dict>
            <key>bg_btn_n_normal_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,888},{65,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,59}}</string>
                <key>sourceSize</key>
                <string>{65,59}</string>
            </dict>
            <key>bg_btn_n_normal_pessed.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,886},{65,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,59}}</string>
                <key>sourceSize</key>
                <string>{65,59}</string>
            </dict>
            <key>bg_btn_n_normal_pessed_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,832},{65,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,59}}</string>
                <key>sourceSize</key>
                <string>{65,59}</string>
            </dict>
            <key>bg_btn_n_normal_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,850},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>bg_btn_n_normal_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,825},{65,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,59}}</string>
                <key>sourceSize</key>
                <string>{65,59}</string>
            </dict>
            <key>bg_btn_play_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,310},{99,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{99,94}}</string>
                <key>sourceSize</key>
                <string>{103,96}</string>
            </dict>
            <key>bg_btn_play_n_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,208},{100,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{100,94}}</string>
                <key>sourceSize</key>
                <string>{102,96}</string>
            </dict>
            <key>bg_card_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,707},{75,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{75,75}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>bg_card_n1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,757},{39,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{39,75}}</string>
                <key>sourceSize</key>
                <string>{39,77}</string>
            </dict>
            <key>bg_card_special.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,2},{144,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,190}}</string>
                <key>sourceSize</key>
                <string>{144,190}</string>
            </dict>
            <key>bg_top_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,148},{58,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,40}}</string>
                <key>sourceSize</key>
                <string>{58,40}</string>
            </dict>
            <key>btn_card_special.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{65,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,59}}</string>
                <key>sourceSize</key>
                <string>{65,59}</string>
            </dict>
            <key>btn_close_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>btn_free_disable_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,782},{65,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,59}}</string>
                <key>sourceSize</key>
                <string>{65,59}</string>
            </dict>
            <key>btn_free_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,747},{65,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,59}}</string>
                <key>sourceSize</key>
                <string>{65,59}</string>
            </dict>
            <key>btn_free_pressed_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,715},{65,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,59}}</string>
                <key>sourceSize</key>
                <string>{65,59}</string>
            </dict>
            <key>btn_music_tab.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,820},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,68}</string>
            </dict>
            <key>btn_music_tab_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,757},{66,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,68}}</string>
                <key>sourceSize</key>
                <string>{66,68}</string>
            </dict>
            <key>button_back_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,143},{27,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,46}}</string>
                <key>sourceSize</key>
                <string>{27,46}</string>
            </dict>
            <key>card_bg_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,503},{102,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,148}}</string>
                <key>sourceSize</key>
                <string>{102,148}</string>
            </dict>
            <key>card_blue_heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,979},{37,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{37,31}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>card_blue_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,814},{68,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,34}}</string>
                <key>sourceSize</key>
                <string>{68,34}</string>
            </dict>
            <key>card_crown.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,687},{68,83}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{68,83}}</string>
                <key>sourceSize</key>
                <string>{72,99}</string>
            </dict>
            <key>card_gift_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,411},{102,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,148}}</string>
                <key>sourceSize</key>
                <string>{102,148}</string>
            </dict>
            <key>card_hall_master_marquee.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,607},{60,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,45}}</string>
                <key>sourceSize</key>
                <string>{60,45}</string>
            </dict>
            <key>card_left_achievement.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,583},{102,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,148}}</string>
                <key>sourceSize</key>
                <string>{102,148}</string>
            </dict>
            <key>card_left_challenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,630},{75,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,98}}</string>
                <key>sourceSize</key>
                <string>{75,98}</string>
            </dict>
            <key>card_left_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,480},{102,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,148}}</string>
                <key>sourceSize</key>
                <string>{102,148}</string>
            </dict>
            <key>card_left_facebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,52},{46,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,89}}</string>
                <key>sourceSize</key>
                <string>{46,89}</string>
            </dict>
            <key>card_left_package.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,399},{102,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,148}}</string>
                <key>sourceSize</key>
                <string>{102,148}</string>
            </dict>
            <key>card_left_quest.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,479},{102,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,148}}</string>
                <key>sourceSize</key>
                <string>{102,148}</string>
            </dict>
            <key>card_left_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,261}}</string>
                <key>sourceSize</key>
                <string>{102,261}</string>
            </dict>
            <key>card_left_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,375},{102,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,148}}</string>
                <key>sourceSize</key>
                <string>{102,148}</string>
            </dict>
            <key>card_left_tab.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,148},{41,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,149}}</string>
                <key>sourceSize</key>
                <string>{41,149}</string>
            </dict>
            <key>card_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,607},{66,99}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{66,99}}</string>
                <key>sourceSize</key>
                <string>{72,99}</string>
            </dict>
            <key>card_phonelogin.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,330},{102,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,148}}</string>
                <key>sourceSize</key>
                <string>{102,148}</string>
            </dict>
            <key>card_red_heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,799},{37,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{37,31}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>card_song_pop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,271},{102,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,148}}</string>
                <key>sourceSize</key>
                <string>{102,148}</string>
            </dict>
            <key>card_song_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,295},{102,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,148}}</string>
                <key>sourceSize</key>
                <string>{102,148}</string>
            </dict>
            <key>card_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,561},{72,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,99}}</string>
                <key>sourceSize</key>
                <string>{72,99}</string>
            </dict>
            <key>card_wechat.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,191},{102,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,148}}</string>
                <key>sourceSize</key>
                <string>{102,148}</string>
            </dict>
            <key>card_wifi.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,949},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,56}}</string>
                <key>sourceSize</key>
                <string>{58,56}</string>
            </dict>
            <key>card_yellow_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,784},{68,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,34}}</string>
                <key>sourceSize</key>
                <string>{68,34}</string>
            </dict>
            <key>icon_card_crown.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,675},{88,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,80}}</string>
                <key>sourceSize</key>
                <string>{88,80}</string>
            </dict>
            <key>icon_card_crown_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,635},{88,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,80}}</string>
                <key>sourceSize</key>
                <string>{88,80}</string>
            </dict>
            <key>icon_card_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,669},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
            <key>icon_card_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,218},{90,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{90,110}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>icon_card_star_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,106},{90,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{90,110}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>icon_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,717},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>icon_double_chest.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,687},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,58}}</string>
                <key>sourceSize</key>
                <string>{62,58}</string>
            </dict>
            <key>icon_hall_master_marquee_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,931},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>icon_hall_master_marquee_cup.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,172},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>icon_hall_master_marquee_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,757},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>icon_hall_master_marquee_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,931},{29,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,26}}</string>
                <key>sourceSize</key>
                <string>{29,26}</string>
            </dict>
            <key>icon_hall_master_marquee_wifi.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,172},{33,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,24}}</string>
                <key>sourceSize</key>
                <string>{33,24}</string>
            </dict>
            <key>icon_headphone.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{163,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,167}}</string>
                <key>sourceSize</key>
                <string>{163,167}</string>
            </dict>
            <key>icon_quest_complete.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>icon_tab_heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,717},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{22,20}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>img_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,959},{25,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,27}}</string>
                <key>sourceSize</key>
                <string>{25,27}</string>
            </dict>
            <key>mask_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,289},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>mask_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,271},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Plist_content_new.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d6d91dddd4d465631380291fa73d129:1/1$</string>
            <key>textureFileName</key>
            <string>Plist_content_new.png</string>
        </dict>
    </dict>
</plist>
