<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,586},{273,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,211}}</string>
                <key>sourceSize</key>
                <string>{273,211}</string>
            </dict>
            <key>button_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{273,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,211}}</string>
                <key>sourceSize</key>
                <string>{273,211}</string>
            </dict>
            <key>cd_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{430,430}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,430}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>cd_small_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{430,430}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,430}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>icon_headphone.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,154},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>loading_CD.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,924},{51,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,50}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>loading_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,63},{59,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,5}}</string>
                <key>sourceSize</key>
                <string>{59,5}</string>
            </dict>
            <key>loading_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,861},{61,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,60}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>loading_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,2},{59,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,5}}</string>
                <key>sourceSize</key>
                <string>{59,5}</string>
            </dict>
            <key>login_btn_wechat_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,344},{132,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,87}}</string>
                <key>sourceSize</key>
                <string>{132,87}</string>
            </dict>
            <key>login_btn_wechat_bg_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,210},{132,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,87}}</string>
                <key>sourceSize</key>
                <string>{132,87}</string>
            </dict>
            <key>opening_cmlogo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{474,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,150}}</string>
                <key>sourceSize</key>
                <string>{474,150}</string>
            </dict>
            <key>opening_graytile.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,435},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,2},{99,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,206}}</string>
                <key>sourceSize</key>
                <string>{99,206}</string>
            </dict>
            <key>whitemask.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,210},{20,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,223}}</string>
                <key>sourceSize</key>
                <string>{20,223}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Plist_littlestar.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f0af85cba709371c0ffb435d9eb08ce:1/1$</string>
            <key>textureFileName</key>
            <string>Plist_littlestar.png</string>
        </dict>
    </dict>
</plist>
