<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_vip_fblogin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{618,473}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,473}}</string>
                <key>sourceSize</key>
                <string>{618,473}</string>
            </dict>
            <key>bg_vip_homgcard.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,768},{630,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,222}}</string>
                <key>sourceSize</key>
                <string>{630,222}</string>
            </dict>
            <key>bg_vip_playernumber.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,477},{289,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,62}}</string>
                <key>sourceSize</key>
                <string>{291,62}</string>
            </dict>
            <key>bg_vip_songlist.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{640,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,140}}</string>
                <key>sourceSize</key>
                <string>{640,140}</string>
            </dict>
            <key>icon_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,881},{51,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,60}}</string>
                <key>sourceSize</key>
                <string>{51,60}</string>
            </dict>
            <key>icon_vip_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,713},{201,233}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{201,233}}</string>
                <key>sourceSize</key>
                <string>{207,241}</string>
            </dict>
            <key>icon_vip_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,713},{147,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,166}}</string>
                <key>sourceSize</key>
                <string>{147,166}</string>
            </dict>
            <key>icon_vip_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,881},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,36}}</string>
                <key>sourceSize</key>
                <string>{34,36}</string>
            </dict>
            <key>icon_vip_noAD.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,916},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>icon_vip_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,916},{35,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,42}}</string>
                <key>sourceSize</key>
                <string>{35,42}</string>
            </dict>
            <key>icon_vip_rankbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,916},{38,45}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{38,45}}</string>
                <key>sourceSize</key>
                <string>{40,47}</string>
            </dict>
            <key>icon_vip_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,919},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>icon_vip_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,916},{33,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,35}}</string>
                <key>sourceSize</key>
                <string>{33,35}</string>
            </dict>
            <key>imag_colourpaper.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,477},{392,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,234}}</string>
                <key>sourceSize</key>
                <string>{392,234}</string>
            </dict>
            <key>imag_littlestar.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,953},{11,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,13}}</string>
                <key>sourceSize</key>
                <string>{11,13}</string>
            </dict>
            <key>imag_music_note.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,952},{22,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,33}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>light_vip_playernumber.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,881},{66,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,49}}</string>
                <key>sourceSize</key>
                <string>{66,49}</string>
            </dict>
            <key>vip_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{634,220}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{634,220}}</string>
                <key>sourceSize</key>
                <string>{634,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Plist_vip.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f948fab3025688197ac592b2dfbb9073:1/1$</string>
            <key>textureFileName</key>
            <string>Plist_vip.png</string>
        </dict>
    </dict>
</plist>
