<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,597},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>bg_btn_normal_pessed.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,256},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>bg_btn_normalline.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,256},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>bg_btn_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,2},{174,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,162}}</string>
                <key>sourceSize</key>
                <string>{174,162}</string>
            </dict>
            <key>bg_btn_play_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,2},{172,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,162}}</string>
                <key>sourceSize</key>
                <string>{172,162}</string>
            </dict>
            <key>bg_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,715},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>bg_card_half.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,711},{122,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,74}}</string>
                <key>sourceSize</key>
                <string>{122,74}</string>
            </dict>
            <key>bg_card_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,947},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>bg_card_metal.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,314},{58,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,59}}</string>
                <key>sourceSize</key>
                <string>{58,59}</string>
            </dict>
            <key>bg_card_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,513},{44,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{44,45}</string>
            </dict>
            <key>bg_checkbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,967},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>bg_hall_metal_bronze.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,720},{215,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,245}}</string>
                <key>sourceSize</key>
                <string>{215,245}</string>
            </dict>
            <key>bg_hall_metal_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,370},{215,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,246}}</string>
                <key>sourceSize</key>
                <string>{215,246}</string>
            </dict>
            <key>bg_hall_metal_silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{215,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,245}}</string>
                <key>sourceSize</key>
                <string>{215,245}</string>
            </dict>
            <key>bg_newversion.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,947},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bg_resources_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,827},{112,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,81}}</string>
                <key>sourceSize</key>
                <string>{112,81}</string>
            </dict>
            <key>bg_resources_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,602},{136,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,111}}</string>
                <key>sourceSize</key>
                <string>{136,111}</string>
            </dict>
            <key>bg_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{10,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,284}}</string>
                <key>sourceSize</key>
                <string>{10,284}</string>
            </dict>
            <key>bg_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,276},{98,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,68}}</string>
                <key>sourceSize</key>
                <string>{98,68}</string>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,249},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>button_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,667},{45,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,77}}</string>
                <key>sourceSize</key>
                <string>{45,77}</string>
            </dict>
            <key>button_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,211},{37,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,61}}</string>
                <key>sourceSize</key>
                <string>{37,61}</string>
            </dict>
            <key>cdshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{20,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,344}}</string>
                <key>sourceSize</key>
                <string>{20,344}</string>
            </dict>
            <key>checkmark.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,967},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>dialog_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,841},{104,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,74}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>dialog_head_fail.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,735},{104,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,74}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>dialog_head_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{10,372}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,372}}</string>
                <key>sourceSize</key>
                <string>{10,372}</string>
            </dict>
            <key>fivestar.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,947},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>icon_beat.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,374},{56,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,58}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
            <key>icon_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,669},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>icon_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,659},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>icon_coin_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,618},{90,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,92}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>icon_crown_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,787},{88,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,80}}</string>
                <key>sourceSize</key>
                <string>{88,80}</string>
            </dict>
            <key>icon_crown_shadow_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,745},{88,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,80}}</string>
                <key>sourceSize</key>
                <string>{88,80}</string>
            </dict>
            <key>icon_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,573},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>icon_diamond_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,276},{90,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,92}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>icon_exp_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,827},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>icon_facebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,650},{41,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,69}}</string>
                <key>sourceSize</key>
                <string>{41,69}</string>
            </dict>
            <key>icon_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,602},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>icon_hall.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,166},{146,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,166}}</string>
                <key>sourceSize</key>
                <string>{146,166}</string>
            </dict>
            <key>icon_hall_metal_bronze.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,325},{77,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,74}}</string>
                <key>sourceSize</key>
                <string>{77,74}</string>
            </dict>
            <key>icon_hall_metal_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,432},{57,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,79}}</string>
                <key>sourceSize</key>
                <string>{57,79}</string>
            </dict>
            <key>icon_hall_metal_silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,248},{77,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,75}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>icon_hall_player.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1008},{20,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{20,14}</string>
            </dict>
            <key>icon_invitefriends.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,650},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>icon_language.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,178},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,487},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>icon_life.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,401},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>icon_life_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,276},{90,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,92}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>icon_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,618},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>icon_message.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,746},{82,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,78}}</string>
                <key>sourceSize</key>
                <string>{82,78}</string>
            </dict>
            <key>icon_message_redpotbig.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,618},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>icon_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,249},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>icon_nostar.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,483},{90,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,112}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>icon_rate.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,178},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>icon_remind.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,967},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>icon_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,560},{72,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,56}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>icon_soundoff.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,560},{72,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,56}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>icon_speed.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,618},{47,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,56}}</string>
                <key>sourceSize</key>
                <string>{47,56}</string>
            </dict>
            <key>icon_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,369},{90,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,112}}</string>
                <key>sourceSize</key>
                <string>{90,112}</string>
            </dict>
            <key>icon_thanks.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,650},{67,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,69}}</string>
                <key>sourceSize</key>
                <string>{67,69}</string>
            </dict>
            <key>icon_tiles.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,618},{25,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,75}}</string>
                <key>sourceSize</key>
                <string>{25,75}</string>
            </dict>
            <key>icon_video.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,967},{49,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,46}}</string>
                <key>sourceSize</key>
                <string>{49,46}</string>
            </dict>
            <key>icon_wechat.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,967},{52,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,42}}</string>
                <key>sourceSize</key>
                <string>{52,42}</string>
            </dict>
            <key>level_progress_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,650},{88,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,68}}</string>
                <key>sourceSize</key>
                <string>{88,68}</string>
            </dict>
            <key>level_progress_bar_common.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,650},{88,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,68}}</string>
                <key>sourceSize</key>
                <string>{88,68}</string>
            </dict>
            <key>levelup_cardglow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,847},{80,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,128}}</string>
                <key>sourceSize</key>
                <string>{80,128}</string>
            </dict>
            <key>levelup_cardglow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,376},{272,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,224}}</string>
                <key>sourceSize</key>
                <string>{272,224}</string>
            </dict>
            <key>levelup_cardglow3.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,370},{168,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,188}}</string>
                <key>sourceSize</key>
                <string>{168,188}</string>
            </dict>
            <key>levelup_circlebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,722},{278,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,278}}</string>
                <key>sourceSize</key>
                <string>{278,278}</string>
            </dict>
            <key>levelup_dialogbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{192,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,252}}</string>
                <key>sourceSize</key>
                <string>{192,252}</string>
            </dict>
            <key>loading_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,458},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>loading_padding.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,314},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>mask_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,1002},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>mask_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,1002},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>ribbon_long.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,650},{70,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,34}}</string>
                <key>sourceSize</key>
                <string>{70,34}</string>
            </dict>
            <key>sound_quality.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,166},{39,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,43}}</string>
                <key>sourceSize</key>
                <string>{39,43}</string>
            </dict>
            <key>timebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,618},{99,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,45}}</string>
                <key>sourceSize</key>
                <string>{99,45}</string>
            </dict>
            <key>unlock_glow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,941},{80,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,128}}</string>
                <key>sourceSize</key>
                <string>{80,128}</string>
            </dict>
            <key>unlock_glow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,2},{272,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,224}}</string>
                <key>sourceSize</key>
                <string>{272,224}</string>
            </dict>
            <key>unlock_titlebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,1002},{10,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,146}}</string>
                <key>sourceSize</key>
                <string>{10,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Plist_content.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d900e92ad36262b9fdc34e9723455756:1/1$</string>
            <key>textureFileName</key>
            <string>Plist_content.png</string>
        </dict>
    </dict>
</plist>
