<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_tab.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,104}}</string>
                <key>sourceSize</key>
                <string>{640,104}</string>
            </dict>
            <key>hall_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,866},{156,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,118}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>hall_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,708},{156,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,118}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>hall_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,866},{156,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,118}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>hall_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,708},{156,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,118}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>hall_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,866},{156,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,118}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>hall_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,708},{156,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,118}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>hall_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,588},{156,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,118}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>home_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,122},{168,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,118}}</string>
                <key>sourceSize</key>
                <string>{168,118}</string>
            </dict>
            <key>home_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,108},{168,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,118}}</string>
                <key>sourceSize</key>
                <string>{168,118}</string>
            </dict>
            <key>home_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,108},{168,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,118}}</string>
                <key>sourceSize</key>
                <string>{168,118}</string>
            </dict>
            <key>home_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,108},{168,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,118}}</string>
                <key>sourceSize</key>
                <string>{168,118}</string>
            </dict>
            <key>home_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{168,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,118}}</string>
                <key>sourceSize</key>
                <string>{168,118}</string>
            </dict>
            <key>home_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{168,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,118}}</string>
                <key>sourceSize</key>
                <string>{168,118}</string>
            </dict>
            <key>home_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{168,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,118}}</string>
                <key>sourceSize</key>
                <string>{168,118}</string>
            </dict>
            <key>me_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,588},{158,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,118}}</string>
                <key>sourceSize</key>
                <string>{158,118}</string>
            </dict>
            <key>me_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,468},{158,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,118}}</string>
                <key>sourceSize</key>
                <string>{158,118}</string>
            </dict>
            <key>me_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,468},{158,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,118}}</string>
                <key>sourceSize</key>
                <string>{158,118}</string>
            </dict>
            <key>me_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{158,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,118}}</string>
                <key>sourceSize</key>
                <string>{158,118}</string>
            </dict>
            <key>me_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{158,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,118}}</string>
                <key>sourceSize</key>
                <string>{158,118}</string>
            </dict>
            <key>me_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{158,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,118}}</string>
                <key>sourceSize</key>
                <string>{158,118}</string>
            </dict>
            <key>me_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,482},{158,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,118}}</string>
                <key>sourceSize</key>
                <string>{158,118}</string>
            </dict>
            <key>music_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,278},{162,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,118}}</string>
                <key>sourceSize</key>
                <string>{162,118}</string>
            </dict>
            <key>music_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,228},{162,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,118}}</string>
                <key>sourceSize</key>
                <string>{162,118}</string>
            </dict>
            <key>music_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,228},{162,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,118}}</string>
                <key>sourceSize</key>
                <string>{162,118}</string>
            </dict>
            <key>music_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{162,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,118}}</string>
                <key>sourceSize</key>
                <string>{162,118}</string>
            </dict>
            <key>music_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,242},{162,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,118}}</string>
                <key>sourceSize</key>
                <string>{162,118}</string>
            </dict>
            <key>music_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,242},{162,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,118}}</string>
                <key>sourceSize</key>
                <string>{162,118}</string>
            </dict>
            <key>music_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,122},{162,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,118}}</string>
                <key>sourceSize</key>
                <string>{162,118}</string>
            </dict>
            <key>setting_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,482},{158,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,118}}</string>
                <key>sourceSize</key>
                <string>{158,118}</string>
            </dict>
            <key>setting_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,442},{158,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,118}}</string>
                <key>sourceSize</key>
                <string>{158,118}</string>
            </dict>
            <key>setting_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,348},{158,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,118}}</string>
                <key>sourceSize</key>
                <string>{158,118}</string>
            </dict>
            <key>setting_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,348},{158,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,118}}</string>
                <key>sourceSize</key>
                <string>{158,118}</string>
            </dict>
            <key>setting_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{158,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,118}}</string>
                <key>sourceSize</key>
                <string>{158,118}</string>
            </dict>
            <key>setting_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,362},{158,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,118}}</string>
                <key>sourceSize</key>
                <string>{158,118}</string>
            </dict>
            <key>setting_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,362},{158,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,118}}</string>
                <key>sourceSize</key>
                <string>{158,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Plist_bottomtab.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83669ec81c35051abf6ad466f6cf6be3:1/1$</string>
            <key>textureFileName</key>
            <string>Plist_bottomtab.png</string>
        </dict>
    </dict>
</plist>
