<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_card_metal_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,811},{58,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,59}}</string>
                <key>sourceSize</key>
                <string>{58,59}</string>
            </dict>
            <key>bg_card_num_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,730},{44,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{44,45}</string>
            </dict>
            <key>bg_firstbonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,422},{257,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,36}}</string>
                <key>sourceSize</key>
                <string>{257,36}</string>
            </dict>
            <key>bg_resources_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,347},{136,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,111}}</string>
                <key>sourceSize</key>
                <string>{136,111}</string>
            </dict>
            <key>btn_diamond_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,941},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btn_diamond_card_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,938},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btn_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,930},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btn_fb_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,888},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btn_fb_card_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,875},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btn_fb_dialog.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,821},{138,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,79}}</string>
                <key>sourceSize</key>
                <string>{138,79}</string>
            </dict>
            <key>btn_fb_dialog2.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,383},{138,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,83}}</string>
                <key>sourceSize</key>
                <string>{138,83}</string>
            </dict>
            <key>btn_fb_dialog2_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,349},{138,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,83}}</string>
                <key>sourceSize</key>
                <string>{138,83}</string>
            </dict>
            <key>btn_fb_dialog_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,770},{100,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,82}}</string>
                <key>sourceSize</key>
                <string>{100,82}</string>
            </dict>
            <key>btn_fb_dialog_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,770},{138,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,79}}</string>
                <key>sourceSize</key>
                <string>{138,79}</string>
            </dict>
            <key>btn_fb_login_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,808},{191,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,122}}</string>
                <key>sourceSize</key>
                <string>{191,122}</string>
            </dict>
            <key>btn_fb_login_setting_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,226},{191,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,122}}</string>
                <key>sourceSize</key>
                <string>{191,122}</string>
            </dict>
            <key>btn_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,872},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btn_free_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,886},{64,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,63}}</string>
                <key>sourceSize</key>
                <string>{64,63}</string>
            </dict>
            <key>btn_free_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,864},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btn_phone_login_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,615},{191,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,122}}</string>
                <key>sourceSize</key>
                <string>{191,122}</string>
            </dict>
            <key>btn_phone_login_setting_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,226},{191,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,122}}</string>
                <key>sourceSize</key>
                <string>{191,122}</string>
            </dict>
            <key>btn_wechat_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,824},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btn_wechat_card_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,935},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btn_wechat_dialog.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,681},{138,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,79}}</string>
                <key>sourceSize</key>
                <string>{138,79}</string>
            </dict>
            <key>btn_wechat_dialog_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,126},{138,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,79}}</string>
                <key>sourceSize</key>
                <string>{138,79}</string>
            </dict>
            <key>btn_wechat_login_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{191,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,122}}</string>
                <key>sourceSize</key>
                <string>{191,122}</string>
            </dict>
            <key>btn_wechat_login_setting_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{191,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,122}}</string>
                <key>sourceSize</key>
                <string>{191,122}</string>
            </dict>
            <key>button_card_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,936},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>button_card_rank_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,797},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>button_card_rank_normal_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,730},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>button_card_rank_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,957},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>dialog_head_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,654},{104,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,74}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>dialog_shelter.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{620,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,59}}</string>
                <key>sourceSize</key>
                <string>{620,59}</string>
            </dict>
            <key>dialog_shelter_bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,1002},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>icon_CM.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,851},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>icon_bai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,656},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>icon_continue_rank1.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,497},{138,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,156}}</string>
                <key>sourceSize</key>
                <string>{138,156}</string>
            </dict>
            <key>icon_continue_rank2.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,498},{138,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,156}}</string>
                <key>sourceSize</key>
                <string>{138,156}</string>
            </dict>
            <key>icon_continue_rank3.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,498},{138,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,156}}</string>
                <key>sourceSize</key>
                <string>{138,156}</string>
            </dict>
            <key>icon_fans.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,656},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>icon_fb_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,951},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>icon_fb_homepage.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,747},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>icon_fbdiamond_homepage.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,746},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>icon_finger.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,579},{88,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,119}}</string>
                <key>sourceSize</key>
                <string>{88,119}</string>
            </dict>
            <key>icon_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,554},{89,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,79}}</string>
                <key>sourceSize</key>
                <string>{89,79}</string>
            </dict>
            <key>icon_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,957},{66,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,65}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>icon_hall_class.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,267},{78,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,75}}</string>
                <key>sourceSize</key>
                <string>{78,75}</string>
            </dict>
            <key>icon_hallunlock_bronze.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,350},{146,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,166}}</string>
                <key>sourceSize</key>
                <string>{146,166}</string>
            </dict>
            <key>icon_hallunlock_silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,2},{146,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,166}}</string>
                <key>sourceSize</key>
                <string>{146,166}</string>
            </dict>
            <key>icon_kakao.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,951},{41,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,37}}</string>
                <key>sourceSize</key>
                <string>{41,37}</string>
            </dict>
            <key>icon_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,965},{61,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,35}}</string>
                <key>sourceSize</key>
                <string>{61,35}</string>
            </dict>
            <key>icon_payTip.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,468},{74,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,62}}</string>
                <key>sourceSize</key>
                <string>{74,62}</string>
            </dict>
            <key>icon_payTips.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,655},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>icon_phone.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,890},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>icon_rank_medal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,825},{61,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,67}}</string>
                <key>sourceSize</key>
                <string>{61,67}</string>
            </dict>
            <key>icon_rank_medal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,823},{61,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,67}}</string>
                <key>sourceSize</key>
                <string>{61,67}</string>
            </dict>
            <key>icon_rank_medal_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,746},{61,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,67}}</string>
                <key>sourceSize</key>
                <string>{61,67}</string>
            </dict>
            <key>icon_rank_medal_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,961},{61,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,67}}</string>
                <key>sourceSize</key>
                <string>{61,67}</string>
            </dict>
            <key>icon_setting_login.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,888},{43,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,46}}</string>
                <key>sourceSize</key>
                <string>{43,46}</string>
            </dict>
            <key>icon_setting_qq.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,965},{43,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,46}}</string>
                <key>sourceSize</key>
                <string>{43,46}</string>
            </dict>
            <key>icon_share_fb.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,347},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>icon_sharebutton_fb.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,823},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>icon_timecounter.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,347},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>icon_wei_homepage.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,669},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>icon_x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,809},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>light_btn_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,150},{106,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,68}}</string>
                <key>sourceSize</key>
                <string>{106,68}</string>
            </dict>
            <key>line_originprice.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,546},{10,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,3}}</string>
                <key>sourceSize</key>
                <string>{10,3}</string>
            </dict>
            <key>list_drop_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,460},{6,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,7}}</string>
                <key>sourceSize</key>
                <string>{6,7}</string>
            </dict>
            <key>log_default avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,942},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>log_icon_diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,644},{100,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,102}}</string>
                <key>sourceSize</key>
                <string>{100,102}</string>
            </dict>
            <key>log_icon_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,954},{40,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,36}}</string>
                <key>sourceSize</key>
                <string>{40,36}</string>
            </dict>
            <key>num_x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,777},{44,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,32}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>rank_bg_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,150},{114,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,115}}</string>
                <key>sourceSize</key>
                <string>{114,115}</string>
            </dict>
            <key>rank_button_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,744},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>rank_button_back_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,656},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>rank_button_social.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,854},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>rank_button_social_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,546},{104,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,106}}</string>
                <key>sourceSize</key>
                <string>{104,106}</string>
            </dict>
            <key>rank_button_social_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,735},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>rank_cuplight.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,888},{45,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,43}}</string>
                <key>sourceSize</key>
                <string>{45,43}</string>
            </dict>
            <key>rank_enter.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,747},{75,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,74}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>rank_head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,161}}</string>
                <key>sourceSize</key>
                <string>{640,161}</string>
            </dict>
            <key>rank_icon_crown.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,489},{83,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,88}}</string>
                <key>sourceSize</key>
                <string>{83,88}</string>
            </dict>
            <key>rank_icon_crown_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,707},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>rank_icon_invite.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,669},{55,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,41}}</string>
                <key>sourceSize</key>
                <string>{55,41}</string>
            </dict>
            <key>rank_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,226},{124,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,121}}</string>
                <key>sourceSize</key>
                <string>{124,121}</string>
            </dict>
            <key>rank_num_mosaic.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,126},{60,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,42}}</string>
                <key>sourceSize</key>
                <string>{60,42}</string>
            </dict>
            <key>rank_sigle_dialog_no1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{178,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,194}}</string>
                <key>sourceSize</key>
                <string>{178,194}</string>
            </dict>
            <key>rank_single_oliveright.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,468},{84,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,125}}</string>
                <key>sourceSize</key>
                <string>{84,125}</string>
            </dict>
            <key>rank_single_oliverleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,460},{84,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,125}}</string>
                <key>sourceSize</key>
                <string>{84,125}</string>
            </dict>
            <key>rank_total_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,207},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>rank_total_no1.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,350},{145,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,161}}</string>
                <key>sourceSize</key>
                <string>{145,161}</string>
            </dict>
            <key>rank_total_no2.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,854},{101,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,117}}</string>
                <key>sourceSize</key>
                <string>{101,117}</string>
            </dict>
            <key>rank_total_no3.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,554},{88,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,118}}</string>
                <key>sourceSize</key>
                <string>{88,118}</string>
            </dict>
            <key>rank_total_rankup_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,350},{96,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,141}}</string>
                <key>sourceSize</key>
                <string>{96,141}</string>
            </dict>
            <key>rank_total_rankup_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,645},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>rank_total_rankup_titlebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,681},{5,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,193}}</string>
                <key>sourceSize</key>
                <string>{5,193}</string>
            </dict>
            <key>tag_discount.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,267},{111,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,114}}</string>
                <key>sourceSize</key>
                <string>{111,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Plist_content2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25f369d2973462a8d90352f7e30b22b8:1/1$</string>
            <key>textureFileName</key>
            <string>Plist_content2.png</string>
        </dict>
    </dict>
</plist>
