<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>curtain_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{74,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,60}}</string>
                <key>sourceSize</key>
                <string>{74,60}</string>
            </dict>
            <key>curtain_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{74,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,60}}</string>
                <key>sourceSize</key>
                <string>{74,60}</string>
            </dict>
            <key>curtain_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,60}}</string>
                <key>sourceSize</key>
                <string>{74,60}</string>
            </dict>
            <key>curtain_shadow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{72,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,10}}</string>
                <key>sourceSize</key>
                <string>{72,10}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Plist_temporary.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4c857d35f11fa6d9bf5c93d14baa88a:1/1$</string>
            <key>textureFileName</key>
            <string>Plist_temporary.png</string>
        </dict>
    </dict>
</plist>
