<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_grade.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,169},{114,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,101}}</string>
                <key>sourceSize</key>
                <string>{114,101}</string>
            </dict>
            <key>bg_social_ach.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,272},{45,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,38}}</string>
                <key>sourceSize</key>
                <string>{45,38}</string>
            </dict>
            <key>bg_social_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,373},{640,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,100}}</string>
                <key>sourceSize</key>
                <string>{640,100}</string>
            </dict>
            <key>bg_social_muisc_season.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{226,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,49}}</string>
                <key>sourceSize</key>
                <string>{226,49}</string>
            </dict>
            <key>bg_social_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{210,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,219}}</string>
                <key>sourceSize</key>
                <string>{210,219}</string>
            </dict>
            <key>bg_social_slight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{303,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,106}}</string>
                <key>sourceSize</key>
                <string>{303,106}</string>
            </dict>
            <key>bg_social_tip_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,322},{29,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,12}}</string>
                <key>sourceSize</key>
                <string>{29,12}</string>
            </dict>
            <key>btn_social_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,177},{98,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,89}}</string>
                <key>sourceSize</key>
                <string>{98,89}</string>
            </dict>
            <key>btn_social_rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,277},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>icon_card_arrow-.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,42},{40,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,33}}</string>
                <key>sourceSize</key>
                <string>{40,33}</string>
            </dict>
            <key>icon_card_small-arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,312},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>icon_class_season-.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,2},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>icon_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,148},{31,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,27}}</string>
                <key>sourceSize</key>
                <string>{31,27}</string>
            </dict>
            <key>icon_social_ach_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,110},{73,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{73,70}}</string>
                <key>sourceSize</key>
                <string>{73,76}</string>
            </dict>
            <key>icon_social_ach_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,272},{65,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{65,70}}</string>
                <key>sourceSize</key>
                <string>{73,76}</string>
            </dict>
            <key>icon_social_ach_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,253},{67,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{67,72}}</string>
                <key>sourceSize</key>
                <string>{73,76}</string>
            </dict>
            <key>icon_social_ach_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,182},{69,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{69,72}}</string>
                <key>sourceSize</key>
                <string>{73,76}</string>
            </dict>
            <key>icon_social_class.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{38,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,36}}</string>
                <key>sourceSize</key>
                <string>{38,36}</string>
            </dict>
            <key>icon_social_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,84},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>icon_social_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,277},{38,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,51}}</string>
                <key>sourceSize</key>
                <string>{38,51}</string>
            </dict>
            <key>icon_social_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,119},{31,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,27}}</string>
                <key>sourceSize</key>
                <string>{31,27}</string>
            </dict>
            <key>icon_social_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,322},{44,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,52}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Plist_social.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:506343b642228121ceea191207286104:1/1$</string>
            <key>textureFileName</key>
            <string>Plist_social.png</string>
        </dict>
    </dict>
</plist>
