<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonus_coinfly.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,895},{124,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,125}}</string>
                <key>sourceSize</key>
                <string>{124,125}</string>
            </dict>
            <key>bonus_coinicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,968},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>bonus_diamondfly.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,895},{124,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,125}}</string>
                <key>sourceSize</key>
                <string>{124,125}</string>
            </dict>
            <key>bonus_diamondicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,968},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>bonus_leaves.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{117,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,226}}</string>
                <key>sourceSize</key>
                <string>{117,226}</string>
            </dict>
            <key>bonus_lifefly.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,138},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>bonus_lifeicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,968},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>bonus_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1000},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>bonus_music_chest_fly.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,642},{124,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,167}}</string>
                <key>sourceSize</key>
                <string>{124,167}</string>
            </dict>
            <key>bonus_normal_chest_fly.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,516},{124,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,167}}</string>
                <key>sourceSize</key>
                <string>{124,167}</string>
            </dict>
            <key>bonus_normal_chest_fly_bd.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,390},{124,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,167}}</string>
                <key>sourceSize</key>
                <string>{124,167}</string>
            </dict>
            <key>bonus_note.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,284},{98,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,134}}</string>
                <key>sourceSize</key>
                <string>{98,134}</string>
            </dict>
            <key>bonus_partical1.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,968},{44,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,50}}</string>
                <key>sourceSize</key>
                <string>{44,50}</string>
            </dict>
            <key>bonus_partical2.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,973},{57,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,48}}</string>
                <key>sourceSize</key>
                <string>{57,48}</string>
            </dict>
            <key>bonus_partical3.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,935},{40,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,24}}</string>
                <key>sourceSize</key>
                <string>{40,24}</string>
            </dict>
            <key>bonus_presslight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,389},{363,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,381}}</string>
                <key>sourceSize</key>
                <string>{363,381}</string>
            </dict>
            <key>bonus_ribbon.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,389},{365,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{365,134}}</string>
                <key>sourceSize</key>
                <string>{365,134}</string>
            </dict>
            <key>bonus_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,973},{46,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,75}}</string>
                <key>sourceSize</key>
                <string>{46,75}</string>
            </dict>
            <key>chest_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,284},{133,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,101}}</string>
                <key>sourceSize</key>
                <string>{133,101}</string>
            </dict>
            <key>chest_bottom_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,264},{169,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,124}}</string>
                <key>sourceSize</key>
                <string>{169,124}</string>
            </dict>
            <key>chest_bottom_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,138},{169,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,124}}</string>
                <key>sourceSize</key>
                <string>{169,124}</string>
            </dict>
            <key>chest_coin_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,768},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>chest_disc2.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,387},{274,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,275}}</string>
                <key>sourceSize</key>
                <string>{274,275}</string>
            </dict>
            <key>chest_inside_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,2},{280,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,152}}</string>
                <key>sourceSize</key>
                <string>{280,152}</string>
            </dict>
            <key>chest_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{385,385}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,385}}</string>
                <key>sourceSize</key>
                <string>{385,385}</string>
            </dict>
            <key>chest_music_chest_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,973},{62,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,47}}</string>
                <key>sourceSize</key>
                <string>{62,47}</string>
            </dict>
            <key>chest_music_note.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{114,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,115}}</string>
                <key>sourceSize</key>
                <string>{114,115}</string>
            </dict>
            <key>chest_normal_chest_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,961},{37,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,46}}</string>
                <key>sourceSize</key>
                <string>{37,46}</string>
            </dict>
            <key>chest_normal_chest_small_bd.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,973},{44,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>chest_normal_xmas_battleInfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,664},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>chest_note.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,772},{197,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,199}}</string>
                <key>sourceSize</key>
                <string>{197,199}</string>
            </dict>
            <key>chest_top_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,2},{182,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,134}}</string>
                <key>sourceSize</key>
                <string>{182,134}</string>
            </dict>
            <key>chest_top_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,751},{182,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,134}}</string>
                <key>sourceSize</key>
                <string>{182,134}</string>
            </dict>
            <key>icon_class_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,772},{256,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,194}}</string>
                <key>sourceSize</key>
                <string>{256,194}</string>
            </dict>
            <key>icon_class_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,664},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Plist_bonus.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62430df0fe4d312f2a6af1b8e94965e3:1/1$</string>
            <key>textureFileName</key>
            <string>Plist_bonus.png</string>
        </dict>
    </dict>
</plist>
