<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>share_QRcode.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,391},{179,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,178}}</string>
                <key>sourceSize</key>
                <string>{179,178}</string>
            </dict>
            <key>share_QRcode_foreign.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,804},{179,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,178}}</string>
                <key>sourceSize</key>
                <string>{179,178}</string>
            </dict>
            <key>share_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,109},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>share_bgglow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,306}}</string>
                <key>sourceSize</key>
                <string>{105,306}</string>
            </dict>
            <key>share_crown.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,571},{96,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,89}}</string>
                <key>sourceSize</key>
                <string>{96,89}</string>
            </dict>
            <key>share_fingerprint.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{184,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,168}}</string>
                <key>sourceSize</key>
                <string>{184,168}</string>
            </dict>
            <key>share_gamename.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{286,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,51}}</string>
                <key>sourceSize</key>
                <string>{286,51}</string>
            </dict>
            <key>share_hall_master_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,160},{206,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,229}}</string>
                <key>sourceSize</key>
                <string>{206,229}</string>
            </dict>
            <key>share_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>share_master_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,344},{151,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,63}}</string>
                <key>sourceSize</key>
                <string>{151,63}</string>
            </dict>
            <key>share_master_rank_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,497},{39,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,35}}</string>
                <key>sourceSize</key>
                <string>{39,35}</string>
            </dict>
            <key>share_piano2_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{239,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,180}}</string>
                <key>sourceSize</key>
                <string>{239,180}</string>
            </dict>
            <key>share_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{156,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,192}}</string>
                <key>sourceSize</key>
                <string>{156,192}</string>
            </dict>
            <key>share_wave.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,162},{640,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,44}}</string>
                <key>sourceSize</key>
                <string>{640,44}</string>
            </dict>
            <key>share_whitestar.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,990},{20,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,25}}</string>
                <key>sourceSize</key>
                <string>{20,25}</string>
            </dict>
            <key>share_yellowstar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,990},{28,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,35}}</string>
                <key>sourceSize</key>
                <string>{28,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Plist_share2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b04113c0aea57f5bd8005ace993ac2b1:1/1$</string>
            <key>textureFileName</key>
            <string>Plist_share2.png</string>
        </dict>
    </dict>
</plist>
