<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_continue_round.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{232,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,232}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>bg_newbest.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{179,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,60}}</string>
                <key>sourceSize</key>
                <string>{179,60}</string>
            </dict>
            <key>bg_result_buy_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,361},{89,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,162}}</string>
                <key>sourceSize</key>
                <string>{89,162}</string>
            </dict>
            <key>bg_result_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,65}}</string>
                <key>sourceSize</key>
                <string>{640,65}</string>
            </dict>
            <key>bg_result_tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,878},{71,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,84}}</string>
                <key>sourceSize</key>
                <string>{71,84}</string>
            </dict>
            <key>icon_cm.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,940},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>icon_coin_flat.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,423},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>icon_collect_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,361},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>icon_collect_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,525},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>icon_crown_shadow_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,196},{163,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,150}}</string>
                <key>sourceSize</key>
                <string>{163,150}</string>
            </dict>
            <key>icon_diamond_flat.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,964},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>icon_diamond_result.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,940},{84,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,64}}</string>
                <key>sourceSize</key>
                <string>{84,64}</string>
            </dict>
            <key>icon_gift_result.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,525},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{70,72}</string>
            </dict>
            <key>icon_rank_result.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,587},{39,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,35}}</string>
                <key>sourceSize</key>
                <string>{39,35}</string>
            </dict>
            <key>icon_result_hot.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,587},{56,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,54}}</string>
                <key>sourceSize</key>
                <string>{56,54}</string>
            </dict>
            <key>icon_star_shadow_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{156,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,192}}</string>
                <key>sourceSize</key>
                <string>{156,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Plist_battle_result2.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dde30a17b272ec6985033a4d520e0031:1/1$</string>
            <key>textureFileName</key>
            <string>Plist_battle_result2.png</string>
        </dict>
    </dict>
</plist>
