<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UIHomeBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,24},{320,638}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,638}}</string>
                <key>sourceSize</key>
                <string>{320,638}</string>
            </dict>
            <key>bg_result.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,664},{320,389}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,389}}</string>
                <key>sourceSize</key>
                <string>{320,389}</string>
            </dict>
            <key>bg_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{618,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,294}}</string>
                <key>sourceSize</key>
                <string>{618,294}</string>
            </dict>
            <key>button_vip_firstpay.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,726},{164,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,119}}</string>
                <key>sourceSize</key>
                <string>{164,119}</string>
            </dict>
            <key>cdcover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,290}}</string>
                <key>sourceSize</key>
                <string>{640,290}</string>
            </dict>
            <key>cdshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{20,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,344}}</string>
                <key>sourceSize</key>
                <string>{20,344}</string>
            </dict>
            <key>hall_result_master_rank_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,2},{24,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>hall_result_master_rank_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,957},{151,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,63}}</string>
                <key>sourceSize</key>
                <string>{151,63}</string>
            </dict>
            <key>hall_result_master_rank_bg_side.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,892},{152,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,63}}</string>
                <key>sourceSize</key>
                <string>{152,63}</string>
            </dict>
            <key>icon_best_gp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,920},{100,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,58}}</string>
                <key>sourceSize</key>
                <string>{100,58}</string>
            </dict>
            <key>icon_crown_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,726},{163,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,150}}</string>
                <key>sourceSize</key>
                <string>{163,150}</string>
            </dict>
            <key>icon_dicounts_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,920},{78,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,77}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>icon_newcrown_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,726},{163,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,150}}</string>
                <key>sourceSize</key>
                <string>{163,150}</string>
            </dict>
            <key>icon_newstar_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{156,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,192}}</string>
                <key>sourceSize</key>
                <string>{156,192}</string>
            </dict>
            <key>icon_star_gp.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,920},{93,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,66}}</string>
                <key>sourceSize</key>
                <string>{93,66}</string>
            </dict>
            <key>icon_star_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{156,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,192}}</string>
                <key>sourceSize</key>
                <string>{156,192}</string>
            </dict>
            <key>icon_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,28},{51,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,60}}</string>
                <key>sourceSize</key>
                <string>{51,60}</string>
            </dict>
            <key>normal_result_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{640,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,134}}</string>
                <key>sourceSize</key>
                <string>{640,134}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Plist_content3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c3f3b3d2fe3c8f0264d8919da5c950a:1/1$</string>
            <key>textureFileName</key>
            <string>Plist_content3.png</string>
        </dict>
    </dict>
</plist>
