<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>add.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,304},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>bg_topbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,323},{98,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,68}}</string>
                <key>sourceSize</key>
                <string>{98,68}</string>
            </dict>
            <key>bgglow_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,442},{112,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,82}}</string>
                <key>sourceSize</key>
                <string>{112,82}</string>
            </dict>
            <key>bgglow_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,515},{82,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,59}}</string>
                <key>sourceSize</key>
                <string>{82,59}</string>
            </dict>
            <key>bgglow_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,407},{112,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,82}}</string>
                <key>sourceSize</key>
                <string>{112,82}</string>
            </dict>
            <key>bgglow_life.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,323},{112,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,82}}</string>
                <key>sourceSize</key>
                <string>{112,82}</string>
            </dict>
            <key>bigdiamond_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,331}}</string>
                <key>sourceSize</key>
                <string>{300,331}</string>
            </dict>
            <key>icon_bigdiamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,2},{165,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,166}}</string>
                <key>sourceSize</key>
                <string>{165,166}</string>
            </dict>
            <key>icon_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,526},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>icon_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>icon_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,526},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>icon_life.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>iconglow_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{152,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,152}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>iconglow_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,423},{90,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,92}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>iconglow_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,169},{152,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,152}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>iconglow_life.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,304},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>level_progress_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,515},{88,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,68}}</string>
                <key>sourceSize</key>
                <string>{88,68}</string>
            </dict>
            <key>level_progress_bar_common.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,491},{88,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,68}}</string>
                <key>sourceSize</key>
                <string>{88,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Plist_resource.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:415161b1dd891e18da2229f574a26213:1/1$</string>
            <key>textureFileName</key>
            <string>Plist_resource.png</string>
        </dict>
    </dict>
</plist>
