<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{332,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,332}}</string>
                <key>sourceSize</key>
                <string>{332,332}</string>
            </dict>
            <key>cd_xmas.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{332,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,332}}</string>
                <key>sourceSize</key>
                <string>{332,332}</string>
            </dict>
            <key>icon_avatar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{83,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{83,86}}</string>
                <key>sourceSize</key>
                <string>{85,86}</string>
            </dict>
            <key>icon_rank_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,904},{50,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{50,55}}</string>
                <key>sourceSize</key>
                <string>{54,57}</string>
            </dict>
            <key>xmas_puzzle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,204},{160,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,206}}</string>
                <key>sourceSize</key>
                <string>{160,206}</string>
            </dict>
            <key>xmas_puzzle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{200,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,167}}</string>
                <key>sourceSize</key>
                <string>{200,167}</string>
            </dict>
            <key>xmas_puzzle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,610},{204,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,157}}</string>
                <key>sourceSize</key>
                <string>{204,157}</string>
            </dict>
            <key>xmas_puzzle4.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,412},{160,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,196}}</string>
                <key>sourceSize</key>
                <string>{160,196}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Plist_cd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c22d157c7698cd9dc1d696670850041:1/1$</string>
            <key>textureFileName</key>
            <string>Plist_cd.png</string>
        </dict>
    </dict>
</plist>
